body{
  display: flex;
}


.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
  font-family: Bradley Hand, cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
select{display:block}
/* 

.categoryCard img{
  z-index: 4;
  border-radius: 16%;
  width: 600px;
}

.categoryCardDiv{
  display: flex;
} */