.category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  bottom: 790px;
  left: 50px;
}
.category img {
  height: 250px;
  width: 400px;
  border-radius: 15%;
}

.categoryCard {
  margin-left: 40px;
  border-width: 1;
  border-radius: 15%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgba(255, 228, 196, 0.546);
  -webkit-box-shadow: 41px -18px 9px 15px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 41px -18px 9px 15px rgba(34, 60, 80, 0.2);
  box-shadow: 41px -18px 9px 15px rgba(34, 60, 80, 0.2);
}

.NameCategory {
  position: relative;
  height: 30px;
  font-size: 30px;
  width: 30px;
  left: 150px;
  bottom: 10px;
  color: black;
}

.categoryCard  {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
