.category {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 1000%;
}

.categoryCard {
  border-radius: 5%;
  width: 400px;
  height: 300px;
  -webkit-box-shadow: -36px 25px 18px 8px rgba(0, 0, 0, 0.2);
-moz-box-shadow: -36px 25px 18px 8px rgba(0, 0, 0, 0.2);
box-shadow: -36px 25px 18px 8px rgba(0, 0, 0, 0.2);
}

.categoryCard img {
  width: 400px;
  height: 300px;
  border-radius: 5%;
}

.NameCategory {
  font-size: 30px;
  color: black;
}
