.loginMane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

