.registrMane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.registr {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: inherit;
  width: 80%;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 5%;
}

.regBut {
  margin-right: 1%;
  background-color: bisque;
  border-radius: 7px;
  border-color: bisque;
  font-size: 22px;
}
.regButDiv {
  display: flex;
  justify-content: flex-end;
}
