.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('../../../../../server/public/Preloader.gif') no-repeat 50%
    50%;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.CartList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

.Cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 40%;
  flex-direction: column;
  align-content: center;
  height: 30%;
}

.Cart img {
  border-radius: 10px;
  width: 70%;
  height: 60%;
}

.clasListName {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  flex-direction: row;
  align-content: flex-start;
}

.cartBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
