.FavoriteList {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.FavoriteListMiddle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  flex-direction: row;
  align-content: flex-start;
}

.CardFullDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.CardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 30%;
  flex-direction: column;
  align-content: center;
  height: 20%;
}
