.AdminPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: bisque;
  align-content: center;
}

.formAdmin {
  width: 100%;
}

.CardImgAdmin {
  width: 100%;
}

.CardImgAdmin img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.AdminPageMiddle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  justify-content: center;
}
.updAdminForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

form {
  width: 100% !important;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 5% 0;
}

.MapProduct {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.formAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin: 0 0 5% 0;
}
.btns_admin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.NewProductAdmin {
  width: 30%;
  margin-bottom: 5%;
  padding: 2%;
  border: 1px solid bisque;
  border-radius: 10px;
}
.orderCard {
  background-color: aliceblue;
  margin: 1%;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
}
.orderHeader {
  background-color: rgb(251, 180, 114);
}
.orderList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
